args==0.1.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
bokeh==1.4.0
boto==2.49.0
boto3==1.12.12
botocore==1.15.12
bs4==0.0.1
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
Click==7.0
clint==0.5.1
colorama==0.4.3
cryptography==2.9
cycler==0.10.0
Cython==0.29.15
decorator==4.4.1
defusedxml==0.6.0
Django==2.2.12
docutils==0.15.2
entrypoints==0.3
Flask==1.1.1
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
gensim==3.8.1
gevent==1.4.0
glob2==0.7
google-api-python-client-py3==1.2
greenlet==0.4.15
gspread==3.3.1
html5lib==1.0.1
httplib2==0.17.1
hurry==1.1
idna==2.8
image==1.5.30
importlib-metadata==1.3.0
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.10.3
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterthemes==0.20.0
kiwisolver==1.1.0
lesscpy==0.13.0
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mechanize==0.4.5
mistune==0.8.4
mongo==0.2.0
more-itertools==8.0.2
MouseInfo==0.1.3
mysql-connector==2.2.9
mysql-connector-python-rf==2.2.2
nbconvert==5.6.1
nbformat==5.0.3
neo4j==1.7.5
neo4jdb==0.0.9
neo4jrestclient==2.1.1
neobolt==1.7.15
neotime==1.7.4
netifaces==0.10.9
newsapi-python==0.2.5
nltk==3.4.5
notebook==6.0.2
numpy==1.17.3
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.2.0.32
packaging==20.3
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.2
pickleshare==0.7.5
Pillow==6.2.0
pim==1.0.1
pkginfo==1.5.0.1
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.49
pycparser==2.20
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.4.2
PyJWT==1.7.1
pymongo==3.9.0
PyMsgBox==1.0.7
PyMySQL==0.9.3
pynput==1.4.5
PyOpenGL==3.1.5
pyparsing==2.4.6
pyperclip==1.7.0
PyRect==0.1.4
pyrouge==0.1.3
pyrsistent==0.15.7
PyScreeze==0.1.26
PySocks==1.7.1
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
PyTweening==1.0.3
pytz==2019.3
pywin32==227
pywinpty==0.5.7
pywordcloud==0.2.2
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==4.6.0
readme-renderer==24.0
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==4.0
s3transfer==0.3.3
schedule==0.6.0
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.9.0
soupsieve==1.9.4
SQLAlchemy==1.3.15
sqlparse==0.3.1
tensorboardX==2.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
toolz==0.10.0
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
tweepy==3.8.0
twilio==6.38.0
twine==1.15.0
urllib3==1.24.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
win-unicode-console==0.5
wordcloud==1.6.0
WTForms==2.2.1
zipp==0.6.0
